/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #fcebe7 !important;
}
.recipe-img{
    width: 140px;
    border-radius: 20%;
}
.recipe-img-big{
    width: 200px;
}
.next-line{
    white-space: pre-line;
}